{
    "extends": [
        "sandricoprovo/typescript",
        "plugin:cypress/recommended",
        "plugin:@next/next/recommended"
    ],
    "rules": {
        "react/destructuring-assignment": 0,
        "prettier/prettier": 0,
        "indent": 0,
        "quotes": 0
    },
    "parserOptions": {
        "project": [
            "./tsconfig.json",
            "./tsconfig.eslint.json",
            "./cypress/tsconfig.json"
        ]
    }
}
