### KeystoneJS ###
# Keystone build dir
.keystone/

### NextJS ###
# Next build dir
.next/

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
db
.env
.env_prod
mock/
.snippets.*

*.sublime*

psd
thumb
sketch